<!DOCTYPE html>
<html>
  <body style="font-family: system-ui">
    <p>Hi {{name}},</p>
    <p>Thanks for registering at {{siteName}}.</p>
    <p><a href="{{appUrl}}">Start shopping</a></p>
  </body>
</html>
